<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAlCarrito()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="categoriaSeleccionada" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Herramientas manuales y eléctricas">
      <ion-label>Herramientas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Materiales eléctricos">
      <ion-label>Eléctricos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Pinturas y materiales de construcción">
      <ion-label>Construcción</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Artículos de seguridad">
      <ion-label>Seguridad</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>

    <ion-row>
      <!-- Cambia size-lg a "4" para 3 columnas en pantallas grandes -->
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" *ngFor="let producto of productosFiltrados">
        <ion-card class="product-card">
          <ion-img [src]="producto.imagen" class="product-image"></ion-img>
          <ion-card-header>
            <ion-card-title class="product-title">{{ producto.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ producto.precio | currency:'CLP':'symbol':'1.0-0' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="product-description">
            {{ producto.descripcion }}
          </ion-card-content>
          <ion-button expand="block" (click)="agregarAlCarrito(producto)">
            Agregar al Carrito
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
